* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8fafc;
  color: #1e293b;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}


.main-container {
  width: min(1100px, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}



.nav-container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-container ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-container li {
  cursor: pointer;
  color: #475569;
  transition: color 0.3s ease;
  font-weight: 500;
}

.nav-container li:hover {
  color: #2563eb;
}

.logo img {
  width: 60px;
  object-fit: contain;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}




.hero-section {
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.hero-section h1 {
  font-size: clamp(2.8rem, 6vw, 5rem);
  line-height: 1.1;
  font-weight: 700;
  max-width: 900px;
  color: #0f172a;
}

.hero-section span {
  color: #2563eb;
}


.about-section {
  padding: 100px 0;
  max-width: 700px;
}

.about-section h1 {
  font-size: 2.5rem;
  margin-bottom: 25px;
  color: #0f172a;
}

.about-section p {
  color: #64748b;
  line-height: 1.9;
  font-size: 1.05rem;
}
.projects-section {
  display: flex;
  margin: 0 50px;
  gap: 30px;
  align-items: stretch;
}

.left-side,
.right-side {
  flex: 1;
}

.left-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.right-side {
  background: #2563eb;
  color: white;
  padding: 40px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-side h2 {
  font-size: 2.3rem;
  margin-bottom: 25px;
  color: #fff;
}

.right-side ul {
  list-style: none;
  margin-bottom: 30px;
}

.right-side li {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #dbeafe;
}

.right-side li::before {
  content: "✓";
  color: #fff;
  margin-right: 10px;
  font-weight: bold;
}

.right-side a {
  width: fit-content;
  padding: 14px 28px;
  background: white;
  color: #2563eb;
  border-radius: 8px;
  font-weight: 600;
  transition: .3s;
}

.right-side a:hover {
  background: #eff6ff;
  transform: translateY(-2px);
}